
html{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    letter-spacing: 1px;
}
body{
    margin: auto;
    overflow-x: hidden;
}
header{
    position: sticky;
    top: 0;
    padding: 7vw;
    /* height: 8vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    z-index: 10;
    /* background-color: rgba(47,53,79,1); */
}
header>div:first-of-type button{
    border: none;
    background-color: inherit;
}
header>div:first-of-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    width: 100%;
}
p{
    color: #a1a1a3;
    font-weight: 400;
    text-align: center;
}
h1{text-align: center;}
input{
    width: 80vw;
    max-width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
}
input::placeholder{
    padding-left: 5vw;
}
main{
    margin: auto;
    /* width: 90vw; */
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
button{
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}
em{
    font-size: 0.7rem;
}
form button:disabled{
    background-color: #a1a1a3; /* this will change in emailValidation */
}
.menu{
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: rgba(47, 53, 79, 0.95);
}
.menu section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.menu section svg:first-of-type path:first-child{
    fill: white;
}
.menu section svg:first-of-type path:nth-child(2){
    fill: black;
}
.menu section svg:first-of-type circle{
    fill: white;
}
.menu>div:first-of-type{
    width: 80%;
    margin: 2vh 0 30vh 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10%;
}
.menu>div:first-of-type div:last-of-type{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.menu>div:first-of-type div{
    padding: 4vh 0;
    border-top: 1px solid rgba(255,255,255,0.5);
    cursor: pointer;
    color: white;
}
.menu button{
    padding: 10px 30px;
    margin: 3vh 0;
    color: white;
    background-color: inherit;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
.menu>div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.showMenu{
    transform: translateX(0);
    display: block;
}
.hamburger{
    padding: 0;
}
.close-menue-btn{
    display: none;
}
.hamburger-menue-btn{
    display: block;
}
.desktop-nav{
    display: none;
}
.desktop-nav button{
    background-color: hsl(0, 94%, 66%) !important;
    padding: 10px 25px;
    border-radius: 4px;
    color: white;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.top-hero-image{
    width: 100%;
    position: relative;
    height: auto;
    /* overflow: hidden; */
}
.top-hero-image img{
    position: relative;
    max-width: 95vw;
    z-index: 1;
}
.top-hero-image>div{
    z-index: 0;
    position: absolute;
    top: 14vw;
    left: 20vw;
    bottom: 0;
    right: 0;
    width: 75vw;
    border-radius: 30% 0 0 35%;
    background-color: hsl(231, 69%, 60%);
}
.simple-bookmark-manager{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}
.simple-bookmark-manager>h1,p{
    max-width: 480px;
    word-wrap: break-word;
}
.simple-bookmark-manager>p{
    margin-bottom: 25px;
}
.simple-bookmark-manager>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.simple-bookmark-manager button{
    padding: 15px 10px;
    border-radius: 6px;
    border: none;
    background-color: #f7f7f7;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.simple-bookmark-manager button:hover{
    background-color: hsl(231, 69%, 60%);
    color: white;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -25px;
    gap: 100px;
}
.features>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features p{
    text-align: center;
}
.features-elements-container{
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid gray;
    font-weight: 400;
}
.features-elements-container>div:first-of-type .red-underline{
    display: block;
}
.features-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    color: gray;
}
.clicked-features-element-color{
    color: black !important;
}
.features-element:hover{
    color: black;
}
.features-description-btn{
    display: none;
    cursor: pointer;
}
.red-underline{
    display: none;
    height: 2px;
    width: 40%;
    background-color: hsl(0, 94%, 66%);
    padding: 0 10px;
}
.features-element:hover .red-underline{
    display: block;
}
.illustration-tab1{
    width: 100vw;
    position: relative;
    margin-top: 20px;
}
.illustration-tab1 img{
    position: relative;
    max-width: 85vw;
    z-index: 1;
    margin-left: 7.5vw;
    margin-bottom: 5vw;
}
.illustration-tab1>div{
    z-index: 0;
    position: absolute;
    /* top: 14vw; */
    top: 7vw;
    left: 0;
    bottom: 0;
    right: 20vw;
    width: 80vw;
    max-width: 500px;
    /* height: 200px; */
    border-radius: 0 30% 30% 0;
    background-color: hsl(231, 69%, 60%);
}
.searching-description{
    display: none;
}
.sharing-description{
    display: none;
}
.download-extension{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extensions-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 50px;
}
.extesnion-carts{
    width: 280px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0 0 10px 10px;
    gap: 30px;
}
.extension-cart-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.extension-cart-title h3,p{
    margin: 0;
}
.extesnion-carts button{
    font-weight: 500;
    padding: 15px 10px;
    border-radius: 6px;
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.FAQ-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}
.FAQ-container>button{
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    color: #111;
    border-bottom: 1px solid gray;
  }
  
  .accordion-item-header {
    padding: 10px 48px 0 16px;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .accordion-item-header::after {
    content: "\276F";
    transform:rotate(90deg) ;
    color: hsl(231, 69%, 60%);
    position: absolute;
    right: 1rem;
  }
  
  .accordion-item-header.active::after {
      content: "\276F";
      transform:rotate(270deg) ;
      color: hsl(0, 94%, 66%);
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-item-body-content {
    color: #7e7e88;
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
.footer{
    margin-top: 50px;
    width: 100vw;
    /* height: 500px; */
}
.contact-us{
    background-color: hsl(231, 69%, 60%);
    padding: 30px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 15px;
}
.contact-us p{
    color: inherit;
    width: 100%;
    letter-spacing: 5px;
    font-size: 0.8rem;
}
.contact-us>div{
    font-size: 1.3rem;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.contact-us button{
    margin-top: 20px;
    width: 100%;
    padding: 15px 5vw;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: hsl(0, 94%, 66%);
    font-weight: 500;
    letter-spacing: 1px;
}
.submitBtn-error{
    margin-bottom: 28px !important;
    color: hsl(0, 94%, 66%) !important;
    background: white !important;
    border: 2px solid hsl(0, 94%, 66%) !important;
}

.input-container{
    width: 100%;
    padding: 0; /* this will change in emailValidation */
    background-color: inherit; /* this will change in emailValidation */
    border-radius: 5px;
    position: relative;
    text-align: start;
}

.input-container span{
    display: none; /* this will change in emailValidation */
    text-align: center;
    position: absolute;
    right: 5%;
    top: 18%;
    color: hsl(0, 94%, 66%);
}
.input-container em{
    display: none; /* this will change in emailValidation */
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #242946;
    color: white;
    padding: 40px 0;
}
.footer-links>div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-links>div:last-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.footer-links path:first-of-type{
    fill: white;
}

@media screen and (min-width:620px){
    main{
        display: grid;
        grid-template-areas: 'simple-bookmark-manager top-hero-image'
                             'features features'
                             'illustration-tab1 features-tab'
                             'download-extension download-extension'
                             'extension-container extension-container'
                             'FAQ-container FAQ-container'
                             'footer footer';
        grid-template-columns: 50vw 50vw;
        row-gap: 100px;
        column-gap: 0;
    }
    form{
        max-width: 600px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    input{
        margin-bottom: 0;
        width: 95%;
    }
    header{
        padding: 25px;
        margin-bottom: 50px;
    }
    .hamburger-menu-container{
        display: none;
    }
    .desktop-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
        color: rgba(0,0,0,0.7);
    }
    .desktop-nav>div{
        cursor: pointer;
    }
    .desktop-nav>div:hover{
        color: hsl(0, 94%, 66%);
    }
    .desktop-nav button:hover{
        background-color: white !important;
        color: hsl(0, 94%, 66%);
        border: 1px solid hsl(0, 94%, 66%);
    }
    .top-hero-image img{
        max-width: 50vw;
    }
    .simple-bookmark-manager{
        grid-area: simple-bookmark-manager;
    }
    .simple-bookmark-manager>div>button:first-of-type{
        background-color: hsl(231, 69%, 60%);
        color: white;
    }
    .simple-bookmark-manager>div>button:first-of-type:hover{
        background-color: white;
        color: hsl(231, 69%, 60%);
        border: 2px solid hsl(231, 69%, 60%);
    }
    .simple-bookmark-manager>div>button:last-of-type:hover{
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    .top-hero-image{
        grid-area: top-hero-image;
    }
    .features{
        grid-area: features;
        margin-top: 0;
    }
    .features>div{
        width: 40%;
    }
    .features-elements-container{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #a1a1a3;
        border-top: none;
        margin-top: 30px;
    }
    .features-element{
        border-bottom: none;
        color: gray;
        cursor: pointer;
    }
    .features-element:hover{
        color: hsl(0, 94%, 66%);
    }
    .red-underline{
        width: 60%;
    }
    .features-description-btn{
        display:block;
        margin-top: 20px;
        font-size: 0.8rem;
        font-weight: 500;
        background-color: hsl(231, 69%, 60%);
        color: white;
        padding: 10px 15px;
        border-radius: 6px;
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        cursor: pointer;
    }
    .illustration-tab1{
        grid-area: illustration-tab1;
    }
    .illustration-tab1 img{
        max-width: 50vw;
    }
    .illustration-tab1 div{
        max-width: 35vw;
    }

    main>section:nth-child(5){
        grid-area: features-tab;
    }
    main>section:nth-child(5)>div{
        align-items: start;
        width: 60%;
    }
    main>section:nth-child(5) p{
        text-align: start;
    }
    main>section:nth-child(3){
        margin-bottom: -40px;
    }
    .download-extension{
        grid-area: download-extension;
        margin-top: 50px;
    }
    .extensions-container{
        grid-area: extension-container;
        height: 500px;
        width: 70%;
        margin: auto;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 30px;
    }
    .extesnion-carts{
        font-size: 79%;
    }
    .extesnion-carts>button{
        width: 90%;
    }
    .extesnion-carts>object:last-of-type{
        width: 100%;
    }
    .extesnion-carts>button:hover{
        background-color: white;
        color: hsl(231, 69%, 60%);
        border: 2px solid hsl(231, 69%, 60%);
    }
    .extesnion-carts:nth-of-type(1){
        align-self: start;
    }
    .extesnion-carts:nth-of-type(2){
        align-self: center;
    }
    .extesnion-carts:nth-of-type(3){
        align-self: end;
    }
    .FAQ-container{
        grid-area: FAQ-container;
        margin: auto;
    }
    .accordion-item-header:hover{
        color: hsl(0, 94%, 66%);
    }
    .footer{
        grid-area: footer;
        width: 100%;
        margin: auto;
    } 
    .footer-links{
        padding: 40px 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10vw;
    }
    .footer-links>div:first-child{
        flex-direction: row;
        font-size: 0.8rem;
        opacity: 0.8;
    }
    .footer-links>div:first-of-type>div,.footer-links>div:last-of-type>svg{
        cursor: pointer;
    }
    .footer-links>div:first-of-type>div:hover{
        color: hsl(0, 94%, 66%);
    }
    .footer-links>div:last-of-type>svg:hover path {
        fill: hsl(0, 94%, 66%);
    }
    .contact-us{
        height: 250px;
        width: 100%;
        padding: 30px 0;
    }
    .contact-us>p{
        margin-bottom: 35px;
    }
    .contact-us>div{
        max-width: 450px;
        font-size: 1.8rem;
    }
    .contact-us button{
        width: 130px;
        padding: 7px 35px;
        margin-top: 0;
        flex-basis: 0;
    }
    .input-container>em{
        padding-top: 10px;
    }
    .top-hero-image img{
        max-width: 45vw;
    }
    .top-hero-image>div{
        width: 30vw;
        top: 7vw;
    }
}

@media screen and (max-width: 374px) {
    .top-hero-image>div {
        top: 21vw;
        height: 150px;
    }
  }
