html{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    letter-spacing: 1px;
}
body{
    margin: auto;
    overflow-x: hidden;
}
header{
    padding: 7vw;
    /* height: 8vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(47,53,79,1);
}
header>div:first-of-type button{
    border: none;
    background-color: inherit;
}
header>div:first-of-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    width: 100%;
}
nav{
    color: white;
    height: 92vh;
    width: inherit;
    /* padding: 10vh 0 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 20vh; */
}
nav>div:first-of-type{
    width: 100%;
    /* margin-top: 9vh; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav>div:first-of-type div:last-of-type{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
nav>div:first-of-type div{
    padding: 4vh 0;
    border-top: 1px solid rgba(255,255,255,0.3);
    cursor: pointer;;
}
nav button{
    /* width: inherit; */
    padding: 10px 30px;
    margin: 3vh 0;
    color: inherit;
    background-color: inherit;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
nav>div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
p{
    color: #a1a1a3;
    font-weight: 400;
    text-align: center;
}
h1{text-align: center;}
input{
    width: 70vw;
    max-width: 600px;
    padding: 15px 5vw;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
}
input:focus{
    outline-color: transparent;
}
main{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
button{
    font-family: inherit;
    font-weight: inherit;
}
em{
    font-size: 0.7rem;
}
form button:disabled{
    background-color: #a1a1a3; /* this will change in emailValidation */
}
/* ******************* */
/* ******************* */
.close-menue-btn{
    display: none;
}
.hamburger-menue-btn{
    display: block;
}
.top-hero-image{
    width: 100vw;
    position: relative;
    height: auto;
    overflow: hidden;
}
.top-hero-image img{
    position: relative;
    max-width: 95vw;
    z-index: 1;
}
.top-hero-image>div{
    z-index: 0;
    position: absolute;
    top: 14vw;
    left: 20vw;
    bottom: 0;
    right: 0;
    width: 80vw;
    height: 200px;
    border-radius: 30% 0 0 35%;
    background-color: hsl(231, 69%, 60%);
}
.simple-bookmark-manager{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}
.simple-bookmark-manager>h1,p{
    width: 70vw;
    word-wrap: break-word;
}
.simple-bookmark-manager>p{
    /* color: #a1a1a3;
    font-weight: 400; */
    margin-bottom: 25px;
}
.simple-bookmark-manager>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.simple-bookmark-manager button{
    padding: 15px 10px;
    border-radius: 6px;
    border: none;
    background-color: #f7f7f7;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.simple-bookmark-manager button:hover{
    background-color: hsl(231, 69%, 60%);
    color: white;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -25px;
    gap: 100px;
}
.features>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features p{
    /* color: #a1a1a3;
    font-weight: 400; */
    text-align: center;
}
.features-elements-container{
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid gray;
    font-weight: 400;
}
.features-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}
.red-underline{
    height: 0;

}
.features-element:hover .red-underline{
    height: 2px;
    width: 40%;
    background-color: hsl(0, 94%, 66%);
    padding: 0 10px;
}
.illustration-tab1{
    width: 100vw;
    height: 265px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}
.illustration-tab1 img{
    position: relative;
    max-width: 85vw;
    z-index: 1;
    margin-left: 7.5vw;
}
.illustration-tab1>div{
    z-index: 0;
    position: absolute;
    top: 14vw;
    left: 0;
    bottom: 0;
    right: 20vw;
    width: 80vw;
    height: 200px;
    border-radius: 0 30% 30% 0;
    background-color: hsl(231, 69%, 60%);
}
.extensions-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 50px;
}
.extesnion-carts{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0 0 10px 10px;

    gap: 30px;
}
.extension-cart-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.extension-cart-title h3,p{
    margin: 0;
}
.extesnion-carts button{
    font-weight: 500;
    padding: 15px 10px;
    border-radius: 6px;
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.FAQ-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FAQ-container>button{
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* *************** */
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    color: #111;
    border-bottom: 1px solid gray;
  }
  
  .accordion-item-header {
    padding: 10px 48px 0 16px;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .accordion-item-header::after {
    content: "\276F";
    transform:rotate(90deg) ;
    color: hsl(231, 69%, 60%);
    position: absolute;
    right: 1rem;
  }
  
  .accordion-item-header.active::after {
      content: "\276F";
      transform:rotate(270deg) ;
      color: hsl(0, 94%, 66%);
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-item-body-content {
    color: #7e7e88;
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
/* *************** */
.footer{
    margin-top: 50px;
    width: 100vw;
    height: 500px;
}
.contact-us{
    background-color: hsl(231, 69%, 60%);
    padding: 30px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 15px;
}
.contact-us p{
    color: inherit;
    width: 100%;
    letter-spacing: 5px;
    font-size: 0.8rem;
}
.contact-us>div{
    font-size: 1.3rem;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.contact-us button{
    margin-top: 20px;
    width: 80vw;
    padding: 15px 5vw;
    /* box-sizing: border-box; */
    border-radius: 4px;
    border: none;
    color: white;
    background-color: hsl(0, 94%, 66%);
    font-weight: 500;
    letter-spacing: 1px;
}

/* ************** */

.input-container{
    padding: 0; /* this will change in emailValidation */
    background-color: inherit; /* this will change in emailValidation */
    border-radius: 5px;
    position: relative;
    text-align: start;
}

.input-container span{
    display: none; /* this will change in emailValidation */
    text-align: center;
    position: absolute;
    right: 5%;
    top: 18%;
    color: hsl(0, 94%, 66%);
}
.input-container em{
    display: none; /* this will change in emailValidation */
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}
/* .contact-us form{
    margin: 20px 27px;
} */
/* .contact-us form .field{
    width: 100%;
    display: flex;
    position: relative;
    padding: 2px 2px 0 2px;
    background-color: hsl(0, 94%, 66%);
    border-radius: 5px;
}
form .field input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
}
form .field .icons{
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
}
.field .icons span{
    background-color: hsl(0, 94%, 66%);
    height: 15px;
    width: 15px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 16px;
    display: none;
    font-size: 0.65rem;
    letter-spacing: normal;
}
.field .icons span.icon1{
    color: white;
    border-color: hsl(0, 94%, 66%);
    font-size:0.65rem;
}
form .error-text{
    position: relative;
    margin: -1px 0 -5px 0;
    background: hsl(0, 94%, 66%);
    color: #fceae8;
    font-size: 0.6rem;
    padding: 8px;
    border-radius: 5px;
    user-select: none;
    display: block;
}

form button{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #27ae60;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}
form button:hover{
    background: #219150;
} */
/* ************** */

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #242946;
    color: white;
    padding: 40px 0;
}
.footer-links>div:last-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.footer-links path:first-of-type{
    fill: white;
}
